/*  Header.css */
* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3f5163;
  color: white;
  padding: 10px 0;
}

.header_btn {
  background-color: #3f5163 !important;
  margin-right: 10px !important;
}

.inner_header {
  padding-top: 10px;
  background-color: white;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.2em !important;
  width: 100%;
}
